
.task-form {
  width: 400px;
  margin: 25px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}


.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  font-size: 22px;
}


.form-label {
  margin-bottom: 5px;
  font-size: 15px;
  color: #444;
  font-weight: 600;
}


.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.5);
  outline: none;
}

.form-textarea {
  height: 90px;
  resize: vertical;
}


.submit-btn {
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #3a78c2;
}
