
.fp-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fp-form {
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
}


.fp-label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}


.fp-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  
}
.fp-input>.otp{
  width: 100%;
}

.fp-input:focus {
  border-color: #6a5acd;
  box-shadow: 0 0 4px rgba(106,90,205,0.3);
}

.fp-button {
  padding: 12px;
  border-radius: 8px;
  border: none;
   background-color: #667eea;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.fp-button:hover {
  background-color: #6278db;
}


.fp-email-form {
  gap: 20px;
}

.fp-reset-form {
  gap: 15px;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  padding-right: 119px; 
}

/* Eye Icon */
.toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #4a5568;
  transition: 0.2s ease;
}

.toggle-icon:hover {
  color: #667eea;
}


@media (max-width: 480px) {
  .fp-form {
    max-width: 70%;
    padding: 20px;
  }

  .fp-label,
  .fp-input,
  .fp-button {
    font-size: 14px;
  }
  .password-field input {
  padding-right: 45px; 
}
}
