.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  padding: 20px;
}

.user-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 
}



.user-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.user-card p {
  margin: 3px 0;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}


@media (max-width: 768px) {
  .user-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    padding: 15px;
  }

  .user-card img {
    height: 150px;
  }

  .user-card p {
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .user-container {
    grid-template-columns: 1fr; 
    gap: 12px;
    padding: 10px;
    justify-items: center !important;  
  }

  .user-card {
    padding: 12px;
    width: 100%;
    max-width: 350px; 
  }

  .user-card img {
    height: 250px;
  }

  .user-card p {
    font-size: 13px;
  }
}
